.compo-head{
    margin-left: 270px;
    border: 1px solid #e2dede;
    height: 50px;
    width: 600px;
    position: relative;
    top: 80px;
    display: flex;
    background-color: white;
    
}
.avt{
    border: 1px solid #ececec;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 15px;
    background-image: url(/images/Ngoc-Trinh-avt.jpg);
    background-position: center;
    background-size: cover;
}
.compo-name{
    margin-left: 12px;
    margin-top: 10px;
}

.name-id{
    color: black;
}
.more{
    margin-left: 420px;
    margin-top: 10px;
}

.compo-body{
    width: 600px;
    height: 600px;
    background-image: url(/images/Ngoc-Trinh.jpg);
    margin-left: 270px;
    border: 1px solid #e2dede;
    margin-top: 80px;
}
.compo-end{
    border: 1px solid #e2dede;
    width: 600px;
    height: 300px;
    margin-left: 270px;
}

.icon-body{
    margin-top: 18px;
}
.heart-body{
    margin-left: 13px;
}
.comment-body{
    margin-left: 13px;
}
.share-body{
    margin-left: 13px;
}
.book-body{
    margin-left: 550px;
    position: relative;
    top: -30px;
}

.com-body{
    position: relative;
    top: -10px;
}
.count{
    margin-left: 13px;
    font-size: 14px;
    margin-top: 5px;
}

.see-com{
    margin-left: 13px;
    font-size: 14px;
    
}

.time{
    margin-left: 13px;
    font-size: 12px;
    margin-top: 5px;
    color: gray;
}